<div class="position-absolute top-50 start-50 translate-middle">
    <div class="card login" style="width: 30rem;">
        <div class="card-body">
            <h2 class="card-title">Bienvenido</h2>
            <hr>

            <form [formGroup]="LoginFormulario" autocomplete="off" (ngSubmit)="loginSubmit()">
                
                <div class="row">
                    <div class="col">
                            <!-- Campo email -->
                           <div class="form-floating mb-3">
                                <input type="email" 
                                       class="form-control" 
                                       formControlName="email"
                                       placeholder="name@example.com">
                                <label for="floatingInput">Correo eléctronico</label>
                                <span class="form-text text-danger"
                                     *ngIf="campoNoValido('email')">
                                     Campo obligatorio.
                                </span>
                            </div>

                             <!-- Campo contraseña -->
                           <div class="form-floating mb-3">
                            <input type="password" 
                                   class="form-control" 
                                   formControlName="contraseña"
                                   placeholder="********">
                            <label for="floatingInput">Contraseña</label>
                            <span class="form-text text-danger"
                                  *ngIf="campoNoValido('contraseña')">
                                     Campo obligatorio.
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Boton Iniciar sesión -->
                <div class="row">
                    <div class="col d-grid gap-2">
                        <button type="submit"
                                class="btn btn-primary"
                                [disabled]="LoginFormulario.invalid">
                            Iniciar sesión
                        </button>
                    </div>
                </div>

                <!-- Registrarme -->
                <div class="row mt-3">
                        <div class="col">
                            <p>¿No tienes cuenta?</p>
                        </div>
                        <div class="col">
                            <a class="float-end" href="auth/registro">Registrarme</a>
                        </div>                    
                </div>

            </form>

        </div>
    </div>
</div>
